$color-light: #fff;
$color-dark: #131313;
$color-main: #cf383e;
$color-extra: #bfbfbf;

$font-text: 'Source Sans Pro', sans-serif;

$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
$font-black: 900;


/* Mixins */
@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
