.player.green-audio-player{
  margin: auto;
  width: 582px;
}

.player-box {
  width: 582px;
  margin: auto;

  h3{
    font-size: 30px;
    font-weight: $font-semibold;
    line-height: 27px;
    text-align: left;
    padding: 24.5px;
  }
}

.green-audio-player .slider .gap-progress{
  background-color: $color-main;

  .pin {
    background-color: $color-main;
  }
}

.player-subtext {
  display: inline-flex;
  justify-content: space-between;
  min-width: 582px;

  div {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .player-box {
    width: 100%;
  }

  .player.green-audio-player{
    max-width: 90vw;
    margin: 0 auto;
  }

}
